<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    <listener>
        <listener-class>com.bryanreinero.taxi.webapp.myServletListener</listener-class>
    </listener>
    <context-param>
        <param-name>mongoHost</param-name>
        <param-value>127.0.0.1</param-value>
    </context-param>
    <context-param>
        <param-name>mongoPort</param-name>
        <param-value>27017</param-value>
    </context-param>
    <servlet>
        <servlet-name>Distance</servlet-name>
        <servlet-class>com.bryanreinero.taxi.webapp.DistanceServlet</servlet-class>
        <init-param>
            <param-name>db</param-name>
            <param-value>taxi</param-value>
        </init-param>
        <init-param>
            <param-name>collection</param-name>
            <param-value>taxilogs</param-value>
        </init-param>
        <init-param>
            <param-name>snapshots</param-name>
            <param-value>distSnap600</param-value>
        </init-param>
        <init-param>
            <param-name>snapshotOperationName</param-name>
            <param-value>getDistSnap</param-value>
        </init-param>
        <init-param>
            <param-name>SnapBuilderClassName</param-name>
            <param-value>com.bryanreinero.taxi.distance.DistanceAggregator</param-value>
        </init-param>
        <init-param>
            <param-name>ConverterClassName</param-name>
            <param-value>com.bryanreinero.taxi.distance.DistanceSnapshotConverter</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>Fare</servlet-name>
        <servlet-class>com.bryanreinero.taxi.webapp.DistanceServlet</servlet-class>
        <init-param>
            <param-name>db</param-name>
            <param-value>taxi</param-value>
        </init-param>
        <init-param>
            <param-name>collection</param-name>
            <param-value>taxilogs</param-value>
        </init-param>
        <init-param>
            <param-name>snapshots</param-name>
            <param-value>fareSnap600</param-value>
        </init-param>
        <init-param>
            <param-name>snapshotOperationName</param-name>
            <param-value>getFareSnap</param-value>
        </init-param><init-param>
            <param-name>SnapBuilderClassName</param-name>
            <param-value>com.bryanreinero.taxi.fare.FareBuilderWithSnap</param-value>
        </init-param>
        <init-param>
            <param-name>ConverterClassName</param-name>
            <param-value>com.bryanreinero.taxi.fare.SnapshotConverter</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Fare</servlet-name>
        <url-pattern>/fare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Distance</servlet-name>
        <url-pattern>/dist</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>